.chef-card {
    display: flex;
    gap: 30px;
    

    &__photo {
        box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
        border-radius: 4px 4px 4px 200px;
    }
    
    &__title {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    
    &__text p {
        margin-bottom: 24px;
    }
    &__text p:last-child {
        margin-bottom: 0;
    }
}

